<form action="/posts" enctype="multipart/form-data" method="post">
  Titel:
  <input type="text" name="titel" /><br />
  Hashtags:
  <input type="text" name="hashtags" /><br />
  Thumbnail:
  <input type="file" name="headerfoto" /><br />
  <input type="submit" />
</form>